@media screen and (min-width: 1960px) {
    .layout-main,
    .landing-wrapper {
        inline-size: 1504px;
        margin-inline: auto !important;
    }
}

@media (min-width: 992px) {
    .layout-wrapper {
        &.layout-overlay {
            .layout-main-container {
                margin-inline-start: 0;
                padding-inline-start: 2rem;
            }

            .layout-sidebar {
                transform: translateX(-100%);
                inset-inline-start: 0;
                inset-block-start: 0;
                block-size: 100vh;
                border-start-start-radius: 0;
                border-end-start-radius: 0;
                border-inline-end: 1px solid var(--surface-border);
                transition:
                    transform 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99),
                    inset-inline-start 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);
                box-shadow:
                    0px 3px 5px rgba(0, 0, 0, 0.02),
                    0px 0px 2px rgba(0, 0, 0, 0.05),
                    0px 1px 4px rgba(0, 0, 0, 0.08);

                /* RTL: hide sidebar by moving it to the right */
                html[dir='rtl'] & {
                    transform: translateX(100%);
                }
            }

            &.layout-overlay-active {
                .layout-sidebar {
                    transform: translateX(0);
                }
            }
        }

        &.layout-static {
            .layout-main-container {
                margin-inline-start: 22rem;
            }

            &.layout-static-inactive {
                .layout-sidebar {
                    transform: translateX(-100%);
                    inset-inline-start: 0;

                    /* RTL: hide sidebar by moving it to the right */
                    html[dir='rtl'] & {
                        transform: translateX(100%);
                    }
                }

                .layout-main-container {
                    margin-inline-start: 0;
                    padding-inline-start: 2rem;
                }
            }
        }

        .layout-mask {
            display: none;
        }
    }
}

@media (max-width: 991px) {
    .blocked-scroll {
        overflow: hidden;
    }

    .layout-wrapper {
        .layout-main-container {
            margin-inline-start: 0;
            padding-inline-start: 2rem;
        }

        .layout-sidebar {
            transform: translateX(-100%);
            inset-inline-start: 0;
            inset-block-start: 0;
            block-size: 100vh;
            border-start-start-radius: 0;
            border-end-start-radius: 0;
            transition:
                transform 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99),
                inset-inline-start 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);

            /* RTL: hide sidebar by moving it to the right */
            html[dir='rtl'] & {
                transform: translateX(100%);
            }
        }

        .layout-mask {
            display: none;
            position: fixed;
            inset-block-start: 0;
            inset-inline-start: 0;
            z-index: 998;
            inline-size: 100%;
            block-size: 100%;
            background-color: var(--maskbg);
        }

        &.layout-mobile-active {
            .layout-sidebar {
                transform: translateX(0);
            }

            .layout-mask {
                display: block;
            }
        }
    }
}
